@import "../../global.scss";

.project1 {
  background-color: white;
  color: $backgroundColor;
  display: flex;

  .project1-left {
    flex: 0.6;
    position: relative;
    overflow-y: hidden;

    .project1-img {
      display: block;
      margin-left: auto;
      margin-right: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      width: 95%;
      transform: translate(-50%, -50%);
    }
  }

  .project1-right {
    flex: 0.4;

    .project1-text {
      position: relative;
      top: 30%;
      text-align: left;

      h1 {
        padding: 5px 0px;

        font-size: 35px;
        font-weight: 600;
      }

      p {
        font-size: 20px;
        font-weight: 300;
        line-height: 150%;
      }

      .project1-tags {
        color: rgba(0, 0, 0, 0.4);
      }

      .project1-description {
        padding: 10px 0px;
        inline-size: 85%;
        overflow: wrap;
        font-weight: 350;

        span {
          color: $mainColor;
        }
      }

      button {
        border: none;
        background-color: $backgroundColor;

        padding: 6px 15px;
        border-radius: 20px;

        color: $plainFontColor;
        font-family: inherit;
        font-size: 15px;
        text-decoration: none;

        transition: 0.2s ease-in-out;
      }

      button:hover {
        background-color: $backgroundColor;
        opacity: 0.9;
        transform: translateY(-2px);
      }
    }
  }
}

// not sure what screen does
@media screen and (max-width: 970px) {
  .project1 {
    flex-direction: column;

    .project1-left {
      flex: 0.6;

      .project1-img {
        max-width: 95%;
        max-height: 95%;
        width: auto;
      }
    }

    .project1-right {
      flex: 0.4;
      position: relative;

      .project1-text {
        text-align: center;
        top: 5%;

        .project1-description {
          inline-size: auto;
          margin-left: 8%;
          margin-right: 8%;
        }
        // maybe change font size here under p and h1
      }
    }
  }
}
