@import "../../../global.scss";

.media {
  padding: 0px 0px;
  display: flex;
  transform: translate(-10px, 0%);

  li {
    list-style: none;
    padding: 25px 10px;
    position: relative;

    a {
      img {
        max-width: 30px;
        transition: 0.2s ease-in-out;
      }

      img:hover {
        transform: translateY(-2px);
      }
    }
  }
}

@media (max-width: 1100px) {
  .media {
    text-align: center;
    justify-content: center;
    transform: translate(0%, 0%);
  }
}
