@import "/src/global.scss";

.app {
  background-color: $backgroundColor;
  height: 100vh;
}

@media (max-height: 700px) {
  .app {
    .sections {
      height: auto;
      scroll-snap-type: none;
      > * {
        height: auto;
        scroll-snap-type: none;
      }
    }
  }
}
