$mainColor: lightpink;
$secondaryMainColor: rgb(255, 217, 223);

$backgroundColor: rgb(37, 35, 35);
$secondaryBackgroundColor: rgb(245, 245, 245);
$tertiaryBackgroundColor: rgb(255, 255, 255);

$plainFontColor: rgb(255, 255, 255);
$softFontColor: rgb(80, 80, 80);
$paleFontColor: rgb(180, 180, 180);

