@import "/src/global.scss";

.bottom-bar {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background-color: $secondaryBackgroundColor;
  display: flex;
  justify-content: space-around;

  text-align: left;

  .container {
    width: 90%;

    .divider {
      border: none;
      height: 1.5px;
      background-color: $paleFontColor;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .text {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;

      .contacts{
        display: flex;
        flex-direction: row;

        .contact {
          padding-left: 20px;
          transition: 0.2s ease-in-out;
          text-decoration: none;
          color: $backgroundColor;
        }

        .contact:hover {
          color: $mainColor;
          transform: translateY(-2px);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .bottom-bar {
    // height: 120px;

    .container {
      .text {
        text-align: center;
        flex-direction: column-reverse;
        padding-left: 20%;
        padding-right: 20%;

        .copyright {
          font-size: 12px;
        }

        .contacts {
          text-align: left;
          justify-content: space-between;

          .contact {
            padding-bottom: 10px;
            padding-left: 0px;
          }
        }
      }
    }
  }
}